.message {
  font-family: Montserrat;
  font-size: 16px;
  
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  margin-right: 70px;
  padding-top: 24px;
}

.imageAndText {
  display: flex;
  flex-direction:row-reverse
  
}

.imageAndText img {
  width: 48px;
  height: 48px;
  
}

.text {
background-color: #0066CC;
border-radius: 5px;
padding: 8px 13px;
margin-right: 10px;
color: white;
}

.text:after {
  
  
}

.name {
  font-weight: 600;
}

.messageText {
  font-weight: 400;
}

.time {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  position: relative;
  right: 10px;

}