.message {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	flex-wrap: wrap;

	margin: 30px 0;
}

.imageAndText {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	font-size: 16px;
	line-height: 19.5px;
}

.imageAndText img {
	width: 48px;
	height: 48px;
}

.text {
	max-width: 520px;
	margin-right: 10px;

	background-color: #0066cc;
	color: white;
	border-radius: 5px;
	padding: 8px 13px;
	box-shadow: 0px 1px 2px 0 #1d21264b;
}

.text:after {
}

.name {
}

.messageText {
	font-weight: 400;
	white-space: pre-line;
	word-break: break-all;
}

.time {
	font-size: 10px;
	line-height: 12px;
	padding-right: 10px;
	margin-top: 5px;
}
