.friendMessage {
	font-family: Montserrat;
	font-size: 16px;

	display: flex;
	align-items: flex-start;
	flex-direction: column;

	margin-left: 70px;
	padding-top: 30px;
  /* padding-bottom: 30px; */
}

.friendImageAndText {
	display: flex;
	flex-direction: row;
}

.friendImageAndText img {
	width: 48px;
	height: 48px;
}

.friendText {
	background-color: #F5F7FB;
	border-radius: 5px;
	padding: 8px 13px;
	margin-left: 10px;
	color: black;
}

.friendText:after {
}

.friendName {
	font-weight: 600;
}

.friendMessageText {
	font-weight: 400;
}

.friendTime {
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	position: relative;
	left: 10px;
}
